/* Fonts */
@font-face {
  font-display: swap;
  font-family: "Play";
  font-weight: 400;
  src: url("../fonts/play-v21-latin-regular.woff2") format("woff2"),
    url("../fonts/play-v21-latin-regular.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Play";
  font-weight: 700;
  src: url("../fonts/play-v21-latin-700.woff2") format("woff2"),
    url("../fonts/play-v21-latin-700.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 400;
  src: url("../fonts/roboto-v50-latin-regular.woff2") format("woff2"),
    url("../fonts/roboto-v50-latin-regular.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 600;
  src: url("../fonts/roboto-v50-latin-600.woff2") format("woff2"),
    url("../fonts/roboto-v50-latin-600.ttf") format("truetype");
}

:root {
  --brend-color-dark: #011c44;
  --brend-color-normal: #011f4a;
  --brend-color-light: #2b7fff;
  --primery-color-dark: #4a4a4a;
  --primery-color-light: #747272;
  --color-white: #ffffff;
}

/* Base */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;
  color: var(--brend-color-dark);
  background-color: lightgoldenrodyellow; /* temporarily */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.section-title {
  margin-bottom: 48px;
  font-family: "Play";
  text-align: center;
  font-size: 64px;
  line-height: 1.3;
  font-weight: 700;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.container.limited {
  max-width: 1112px;
}

.text-accent {
  color: var(--brend-color-light);
}

.text-weight {
  font-weight: 600;
}

/* Link */
.link {
  text-decoration: none;
  font-style: normal;
  color: var(--brend-color-dark);
}

.link:hover {
  color: var(--brend-color-light);
}

.footer-link {
  font-size: 16px;
  color: var(--color-white);
}

/* Button */
.button {
  padding: 16px 32px;
  font-size: 18px;
  font-weight: 600;
  color: var(--color-white);
  background-color: var(--brend-color-light);
  border: 2px solid var(--brend-color-light);
  border-radius: 32px;
}

.button:hover {
  color: var(--brend-color-dark);
  background-color: transparent;
  cursor: pointer;
}

/* Header */
.header-container {
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 56px;
  font-size: 18px;
}

.header-social {
  display: flex;
  gap: 32px;
}

/* Hero-section */
.hero-section {
  padding: 120px 0 128px;
}

.hero-container {
  /* margin: 0 706px 0 206px; */
  width: 100%;
  max-width: 328px;
}

.hero-section-text {
  margin-bottom: 16px;
  font-size: 18px;
}

.hero-title {
  margin-bottom: 40px;
  text-align: left;
  font-size: 140px;
  line-height: 0.8;
}

.hero-block {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
  max-width: 232px;
}

.hero-section-offer {
  text-align: center;
  font-size: 12px;
  color: var(--primery-color-dark);
}

/* Promotion-section */
.promotion-section {
  padding: 0 0 88px;
}

.promotion-contaner {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.promotion-block {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  max-width: 610px;
  gap: 40px;
}

.promotion-title {
  margin-bottom: 0;
  text-align: left;
}

.promotion-text {
  font-size: 22px;
}

.promotion-images {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  flex-basis: 100%;
  max-width: 500px;
}

.promotion-image {
  border-radius: 50%;
}

.promotion-image.end {
  align-self: flex-end;
}

/* Advanteges-section */
.advanteges-section {
  padding: 88px 0 48px;
}

.advanteges-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}

.advantages-item {
  padding: 24px 32px;
  flex-basis: calc((100% - 112px) / 3);
  text-align: center;
  font-size: 18px;
  background-color: var(--color-white);
  border-radius: 32px;
}

/* Procedures-section */
.procedures-section {
  padding: 48px 0;
}

.procedures-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.procedures-item {
  flex-basis: calc((100% - 32px) / 3);
}

.procedures-card {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  padding-bottom: 32px;
  aspect-ratio: 3/4;
  font-size: 22px;
  color: var(--color-white);
  border-radius: 8px 120px 8px 120px;
  background-image: linear-gradient(
    180.05deg,
    rgba(1, 28, 68, 0) 48.53%,
    rgba(1, 28, 68, 0.725825) 84.61%,
    var(--brend-color-dark) 101.39%
  );
}

/* Contacts-section */
.contacts-section {
  padding: 48px 0 96px;
}

.contacts-form-title {
  font-size: 22px;
  color: var(--color-white);
}

.form-confidentiality {
  font-size: 12px;
  color: var(--primery-color-light);
}

.form-link {
  color: var(--primery-color-light);
}

/* Footer */
.footer {
  padding: 56px;
}

.footer-note {
  font-size: 13px;
  color: var(--primery-color-light);
}
