/* Fonts */
@font-face {
  font-display: swap;
  font-family: "Play";
  font-weight: 400;
  src: url("../fonts/play-v21-latin-regular.woff2") format("woff2"),
    url("../fonts/play-v21-latin-regular.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Play";
  font-weight: 700;
  src: url("../fonts/play-v21-latin-700.woff2") format("woff2"),
    url("../fonts/play-v21-latin-700.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 400;
  src: url("../fonts/roboto-v50-latin-regular.woff2") format("woff2"),
    url("../fonts/roboto-v50-latin-regular.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 600;
  src: url("../fonts/roboto-v50-latin-600.woff2") format("woff2"),
    url("../fonts/roboto-v50-latin-600.ttf") format("truetype");
}

:root {
  --brend-color-dark: #011c44;
  --brend-color-normal: #011f4a;
  --brend-color-light: #2b7fff;
  --primery-color-dark: #4a4a4a;
  --primery-color-light: #747272;
  --color-white: #ffffff;
  --color-black: #000000;
}

/* Base */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;
  color: var(--brend-color-dark);
  background-color: lightgoldenrodyellow; /* temporarily */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  display: flex;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.section-title {
  margin-bottom: 48px;
  font-family: "Play";
  text-align: center;
  font-size: 64px;
  line-height: 1.3;
  font-weight: 700;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.container.limited {
  max-width: 1112px;
}

.text-accent {
  color: var(--brend-color-light);
}

.text-weight {
  font-weight: 600;
}

/* Link */
.link {
  text-decoration: none;
  font-style: normal;
  color: var(--brend-color-dark);
  transition: color 0.2s;
}

.link:hover {
  color: var(--brend-color-light);
}

/* Button */
.button {
  padding: 16px 32px;
  font-size: 18px;
  font-weight: 600;
  color: var(--color-white);
  background-color: var(--brend-color-light);
  border: 2px solid var(--brend-color-light);
  border-radius: 32px;
  transition: color 0.2s, background-color 0.2s;
}

.button:hover {
  color: var(--brend-color-dark);
  background-color: transparent;
  cursor: pointer;
}

.form-button {
  margin-bottom: 8px;
}

/* Carusel */
.carusel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 44px;
  height: 44px;
  color: var(--brend-color-dark);
  background-color: transparent;
  border: 1px solid var(--brend-color-dark);
  border-radius: 50%;
  transition: color.2s, background-color 0.2s, border-color.2s;
}

.carusel-button:hover {
  color: var(--color-white);
  background-color: var(--brend-color-light);
  border-color: var(--brend-color-light);
  cursor: pointer;
}

.carusel-button.end {
  transform: rotate(180deg);
}

/* Header */
.header {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.25);
}

.header-container {
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.heder-nav,
.header-address {
  display: flex;
  align-items: center;
}

.heder-nav {
  flex-grow: 1;
  max-width: 526px;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  gap: 24px;
  font-size: 18px;
}

.header-social {
  display: flex;
  gap: 32px;
}

/* Hero-section */
.hero-section {
  position: relative;
  margin: 0 auto;
  padding: 120px 0 128px;
  width: 100%;
  max-width: 1440px;
  background-image: linear-gradient(
      89.38deg,
      var(--color-white) 30.62%,
      rgba(255, 255, 255, 0.850898) 41.31%,
      rgba(255, 255, 255, 0.193204) 58.65%,
      rgba(255, 255, 255, 0) 72.78%
    ),
    url(../images/hero-image.jpg);
  background-repeat: no-repeat;
  background-position: top right;
}

.hero-container {
  margin: 0 0 0 206px;
  width: 100%;
  max-width: 480px;
}
/* GPT */
/* margin-left: calc(206px - (1440px - 100vw) / 2);
  max-width: 328px; */

/* @media (max-width: 1024px) {
  .hero-container {
    margin-left: 0;
    max-width: 100%;
  }
} */

.hero-section-text {
  margin-bottom: 16px;
  font-size: 18px;
}

.hero-title {
  margin-bottom: 40px;
  text-align: left;
  font-size: 140px;
  line-height: 0.8;
}

.hero-block {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
  max-width: 232px;
}

.hero-section-offer {
  text-align: center;
  font-size: 12px;
  color: var(--primery-color-dark);
}

/* Promotion-section */
.promotion-section {
  padding: 0 0 88px;
}

.promotion-container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.promotion-block {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 610px;
  gap: 40px;
}

.promotion-title {
  margin-bottom: 0;
  text-align: left;
}

.promotion-text {
  font-size: 22px;
}

.promotion-images {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  flex-grow: 1;
  flex-basis: auto;
  max-width: 500px;
}

.promotion-star-big,
.promotion-star-normal,
.promotion-star-smoll {
  position: absolute;
}

.promotion-star-big {
  fill: var(--brend-color-dark);
  top: 350px;
  left: 142px;
}

.promotion-star-normal {
  fill: var(--brend-color-light);
  top: 32px;
  right: -18px;
}

.promotion-star-smoll {
  fill: var(--primery-color-light);
  top: 286px;
  right: 16px;
}

.promotion-image {
  border-radius: 50%;
}

.promotion-image.end {
  align-self: flex-end;
}

/* Advanteges-section */
.advanteges-section {
  padding: 88px 0 48px;
}

.advanteges-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}

.advantages-item {
  padding: 24px 32px;
  flex-basis: calc((100% - 112px) / 3);
  text-align: center;
  font-size: 18px;
  color: var(--color-black);
  fill: var(--brend-color-light);
  background-color: var(--color-white);
  border-radius: 32px;
}

/* Procedures-section */
.procedures-section {
  padding: 48px 0;
}

.procedures-container {
  display: flex;
  gap: 32px;
  align-items: center;
}

.procedures-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  flex-grow: 1;
}

.procedures-item {
  flex-basis: calc((100% - 32px) / 3);
}

.procedures-card {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
  aspect-ratio: 3/4;
  font-size: 22px;
  color: var(--color-white);
  border-radius: 8px 120px;
  background-image: linear-gradient(
    180.05deg,
    rgba(1, 28, 68, 0) 48.53%,
    rgba(1, 28, 68, 0.725825) 84.61%,
    var(--brend-color-dark) 101.39%
  );
  transition: transform 0.2s;
  border: 1px solid #011c44; /* remove */
}

.procedures-card:hover {
  transform: scale(1.01);
}

.procedures-text {
  margin-bottom: 32px;
}

/* Contacts-section */
.contacts-section {
  padding: 48px 0 96px;
}

.contacts-container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.contacts-map {
  width: 100%;
  max-width: 606px;
  height: 480px;
  border: none;
  border-radius: 32px;
}

.contacts-form {
  padding: 48px 56px;
  max-width: 422px;
  max-height: 482px;
  background-color: var(--brend-color-dark);
  border-radius: 32px;
}

/* .contacts-form {
  padding: 48px 56px;
  text-align: center;
  width: 100%;
  max-width: 422px;
  background-color: var(--brend-color-dark);
  border-radius: 32px;
}

.contacts-form-title {
  margin-bottom: 32px;
  font-size: 22px;
  color: var(--color-white);
}

.form-confidentiality {
  font-size: 12px;
  color: var(--primery-color-light);
}

.form-link {
  justify-content: center;
  color: var(--primery-color-light);
} */

/* Footer */
.footer {
  position: relative;
  margin: 0 auto;
  padding: 56px 0;
  width: 100%;
  max-width: 1440px;
  background-color: var(--brend-color-dark);
}

.footer::before {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 248px;
  height: 152px;
  background-image: url(../images/vails-decor.png);
  content: "";
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.footer-link {
  font-size: 16px;
  color: var(--color-white);
}

.footer-block,
.footer-address {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-social {
  display: flex;
  gap: 24px;
}

.footer-note {
  font-size: 13px;
  color: var(--primery-color-light);
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: 32px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(1, 28, 68, 0.5);
  transition: opacity 0.2s, visibility 0.2s;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  padding: 40px 144px;
  width: 100%;
  max-width: 728px;
  height: 100%;
  max-height: 680px;
  background-color: var(--brend-color-dark);
  border-radius: 48px;
  overflow-y: auto;
  scrollbar-width: none;
}

.modal-button {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 32px;
  height: 32px;
  color: var(--color-white);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-block {
  max-width: 432px;
  max-height: 600px;
}

.modal-title {
  margin-bottom: 40px;
  color: var(--color-white);
}

/* Form */
.modal-form {
  margin: 0 auto;
  max-width: 312px;
  max-height: 408px;
}

.form-title {
  margin-bottom: 32px;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  color: var(--color-white);
}

.form-fild {
  display: block;
  margin-bottom: 24px;
}

.form-input {
  padding: 16px 32px;
  width: 100%;
  font-size: 13px;
  color: var(--color-white);
  background-color: transparent;
  border: 2px solid var(--primery-color-light);
  border-radius: 32px;
}

.form-input:focus {
  background-color: var(--primery-color-light);
  outline: none;
}

.form-input::placeholder {
  font-size: 13px;
  color: var(--color-white);
}

.form-button {
  display: block;
  margin: 0 auto;
}

.form-terms {
  text-align: center;
  font-size: 12px;
  color: var(--primery-color-light);
}

.form-terms-link {
  justify-content: center;
  color: var(--primery-color-light);
  text-underline-offset: 2px;
}
