*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;
  color: var(--brend-color-dark);
  background-color: var(--color-white);

  &.lock-scroll {
    overflow: hidden;
    touch-action: none; /* iOS fix */
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
