@import "./utils/fonts";
@import "./utils/variables";

@import "./base";
@import "./utils/utils";
@import "./utils/text";
@import "./utils/mixins";

@import "./components/advantages-card";
@import "./components/buttons";
@import "./components/carusel-button";
@import "./components/input";
@import "./components/links";
@import "./components/logo";
@import "./components/procedures-card";
@import "./components/promotion-star";

@import "./layouts/advantages-section";
@import "./layouts/backdrop";
@import "./layouts/contacts-section";
@import "./layouts/container";
@import "./layouts/footer";
@import "./layouts/header";
@import "./layouts/hero-section";
@import "./layouts/modal";
@import "./layouts/procedures-section";
@import "./layouts/promotion-section";
@import "./layouts/section";
