/* Fonts */

@import "./utils/fonts";
@import "./utils/variables";

@import "./base";
@import "./utils/utils";
@import "./utils/text";

@import "./components/links";
@import "./components/buttons";
@import "./components/carusel-button";

@import "./layouts/section";
@import "./layouts/container";
@import "./layouts/header";
@import "./layouts/hero-section";
@import "./layouts/promotion-section"; //update

.form-button {
  margin-bottom: 8px;
}

/* Advanteges-section */
.advanteges-section {
  padding: 88px 0 48px;
}

.advanteges-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}

.advantages-item {
  padding: 24px 32px;
  flex-basis: calc((100% - 112px) / 3);
  text-align: center;
  font-size: 18px;
  color: var(--color-black);
  fill: var(--brend-color-light);
  background-color: var(--color-white);
  border-radius: 32px;
}

/* Procedures-section */
.procedures-section {
  padding: 48px 0;
}

.procedures-container {
  display: flex;
  gap: 32px;
  align-items: center;
}

.procedures-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  flex-grow: 1;
}

.procedures-item {
  flex-basis: calc((100% - 32px) / 3);
}

.procedures-card {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
  aspect-ratio: 3/4;
  font-size: 22px;
  color: var(--color-white);
  border-radius: 8px 120px;
  background-image: linear-gradient(
    180.05deg,
    rgba(1, 28, 68, 0) 48.53%,
    rgba(1, 28, 68, 0.725825) 84.61%,
    var(--brend-color-dark) 101.39%
  );
  transition: transform 0.2s;
  border: 1px solid #011c44; /* remove */
}

.procedures-card:hover {
  transform: scale(1.01);
}

.procedures-text {
  margin-bottom: 32px;
}

/* Contacts-section */
.contacts-section {
  padding: 48px 0 96px;
}

.contacts-container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.contacts-map {
  width: 100%;
  max-width: 606px;
  height: 480px;
  border: none;
  border-radius: 32px;
}

.contacts-form {
  padding: 48px 56px;
  max-width: 422px;
  max-height: 482px;
  background-color: var(--brend-color-dark);
  border-radius: 32px;
}

/* Footer */
.footer {
  position: relative;
  margin: 0 auto;
  padding: 56px 0;
  width: 100%;
  max-width: 1440px;
  background-color: var(--brend-color-dark);
}

.footer::before {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 248px;
  height: 152px;
  background-image: url(../images/vails-decor.png);
  content: "";
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.footer-link {
  font-size: 16px;
  color: var(--color-white);
}

.footer-block,
.footer-address {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-social {
  display: flex;
  gap: 24px;
}

.footer-note {
  font-size: 13px;
  color: var(--primery-color-light);
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: 32px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(1, 28, 68, 0.5);
  transition: opacity 0.2s, visibility 0.2s;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  padding: 40px 144px;
  width: 100%;
  max-width: 728px;
  height: 100%;
  max-height: 680px;
  background-color: var(--brend-color-dark);
  border-radius: 48px;
  overflow-y: auto;
  scrollbar-width: none;
}

.modal-button {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 32px;
  height: 32px;
  color: var(--color-white);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-block {
  max-width: 432px;
  max-height: 600px;
}

.modal-title {
  margin-bottom: 40px;
  color: var(--color-white);
}

/* Form */
.modal-form {
  margin: 0 auto;
  max-width: 312px;
  max-height: 408px;
}

.form-title {
  margin-bottom: 32px;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  color: var(--color-white);
}

.form-fild {
  display: block;
  margin-bottom: 24px;
}

.form-input {
  padding: 16px 32px;
  width: 100%;
  font-size: 13px;
  color: var(--color-white);
  background-color: transparent;
  border: 2px solid var(--primery-color-light);
  border-radius: 32px;
}

.form-input:focus {
  background-color: var(--primery-color-light);
  outline: none;
}

.form-input::placeholder {
  font-size: 13px;
  color: var(--color-white);
}

.form-button {
  display: block;
  margin: 0 auto;
}

.form-terms {
  text-align: center;
  font-size: 12px;
  color: var(--primery-color-light);
}

.form-terms-link {
  justify-content: center;
  color: var(--primery-color-light);
  text-underline-offset: 2px;
}
