:root {
  --brend-color-dark: #011c44;
  --brend-color-normal: #011f4a;
  --brend-color-light: #2b7fff;
  --primery-color-dark: #4a4a4a;
  --primery-color-light: #747272;
  --color-shedow: #a8c6f561;
  --color-white: #ffffff;
  --color-black: #000000;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
