.advantages-card {
    padding: 24px 32px;
    flex-basis: calc((100% - 112px) / 3);
    text-align: center;
    font-size: 18px;
    color: var(--color-black);
    fill: var(--brend-color-light);
    background-color: var(--color-white);
    border-radius: 32px;
  }