.button {
  display: block;
  margin: 0 auto;
  padding: 12px 24px;
  max-width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-white);
  background-color: var(--brend-color-light);
  border: 2px solid var(--brend-color-light);
  border-radius: 32px;
  transition: color 0.2s, background-color 0.2s;

  @media screen and (min-width: $bp-desktop) {
    padding: 16px 32px;
    max-width: 232px;
    font-size: 18px;
  }

  &:hover {
    color: var(--brend-color-dark);
    background-color: transparent;
    cursor: pointer;
  }

  &__form {
    &--contact {
      display: block;
      margin: 0 auto;
      margin-bottom: 8px;
      max-width: 256px;
    }
  }
}
