.button {
  padding: 16px 32px;
  font-size: 18px;
  font-weight: 600;
  color: var(--color-white);
  background-color: var(--brend-color-light);
  border: 2px solid var(--brend-color-light);
  border-radius: 32px;
  transition: color 0.2s, background-color 0.2s;

  &:hover {
    color: var(--brend-color-dark);
    background-color: transparent;
    cursor: pointer;
  }
}
