.button {
  display: block;
  margin: 0 auto;
  padding: 12px 24px;
  max-width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-white);
  background-color: var(--brend-color-light);
  border: 2px solid var(--brend-color-light);
  border-radius: 32px;
  transition: color 0.2s, background-color 0.2s;

  @media screen and (min-width: $bp-desktop) {
    padding: 16px 32px;
    max-width: 232px;
    font-size: 18px;
  }

  &:hover {
    color: var(--brend-color-dark);
    background-color: transparent;
    cursor: pointer;
  }

  &__form {
    display: block;
    margin: 0 auto;
    margin-bottom: 8px;
    max-width: 256px;
    font-size: 14px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 16px;
    }

    @media screen and (min-width: $bp-desktop) {
      max-width: 296px;
    }

    &:hover {
      color: var(--brend-color-light);
      background-color: transparent;
    }
  }

  &__close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 32px;
    height: 32px;
    color: var(--color-white);
    background-color: transparent;
    border: none;

    @media screen and (min-width: $bp-tablet) {
      top: 32px;
      right: 32px;
    }

    @media screen and (min-width: $bp-desktop) {
      top: 40px;
      right: 40px;
    }

    &:hover {
      color: var(--brend-color-light);
      cursor: pointer;
    }
  }
}
