.form-terms {
  text-align: center;
  font-size: 12px;
  color: var(--primery-color-light);

  &__link {
    justify-content: center;
    color: var(--primery-color-light);
    text-underline-offset: 2px;
  }
}
