.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 32px;

  @media screen and (min-width: $bp-tablet) {
    width: 74px;
    height: 42px;
  }

  &__footer {
    margin: 0 auto 26px;

    @media screen and (min-width: $bp-tablet) {
      margin: 0;
    }
  }
}
