.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66px;
  height: 34spx;

  @media screen and (min-width: $bp-tablet) {
    width: 88px;
    height: 44px;
  }

  &__footer {
    margin: 0 auto 26px;

    @media screen and (min-width: $bp-tablet) {
      margin: 0;
    }
  }
}
