.procedures-card {
  position: relative;
  overflow: hidden;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
  aspect-ratio: 3/4;
  font-size: 22px;
  color: var(--color-white);
  border-radius: 8px 120px;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.01);
  }

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 40%,
      rgba(0, 0, 0, 0.6) 80%,
      rgba(0, 0, 0, 0.9) 100%
    );
  }

  &__text {
    z-index: 1;
    margin-bottom: 32px;
  }
}
