.procedures-card {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
  aspect-ratio: 3/4;
  font-size: 22px;
  color: var(--color-white);
  border-radius: 8px 120px;
  background-image: linear-gradient(
    180.05deg,
    rgba(1, 28, 68, 0) 48.53%,
    rgba(1, 28, 68, 0.725825) 84.61%,
    var(--brend-color-dark) 101.39%
  );
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.01);
  }

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px 120px;
  }

  &__text {
    z-index: 1;
    margin-bottom: 32px;
  }
}
