.promotion-star {
  &--big,
  &--normal,
  &--smoll,
  &__mobile {
    position: absolute;
  }

  &--big {
    @include stars(var(--brend-color-dark), 350px, 290px);
  }

  &--normal {
    @include stars(var(--brend-color-light), 32px, -18px);
  }

  &--smoll {
    @include stars(var(--primery-color-light), 286px, 16px);
  }

  &__mobile {
    fill: var(--brend-color-dark);
    bottom: -80px;
    right: 0;

    @media screen and (min-width: $bp-tablet) {
      display: none;
    }
  }
}
