.sociale {
  display: flex;
  justify-content: center;
  align-items: center;

  &__header,
  &__footer,
  &__mobile-menu {
    display: flex;
  }

  &__header {
    gap: 32px;
  }

  &__footer {
    justify-content: center;
    gap: 20px;

    @media screen and (min-width: $bp-tablet) {
      gap: 24px;
    }
  }

  &__mobile-menu {
    gap: 16px;
  }
}
