.advantages-section {
  padding-bottom: 40px;
  background-image: linear-gradient(
    to bottom,
    rgba(43, 127, 255, 0.2) 39.74%,
    rgba(43, 127, 255, 0) 54.16%,
    rgba(43, 127, 255, 0) 66.66%
  );
  background-position: top;

  @media screen and (min-width: $bp-desktop) {
    padding: 88px 0 48px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      gap: 24px;
    }
  }
}
