.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: 32px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(1, 28, 68, 0.5);
  transition: opacity 0.2s, visibility 0.2s;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
