.contacts-section {
  @media screen and (min-width: $bp-tablet) {
    padding-bottom: 48px;
  }

  @media screen and (min-width: $bp-desktop) {
    padding: 48px 0 96px;
  }

  &__container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 24px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      gap: 32px;
    }
  }

  &__map {
    margin: 0 -24px;
    border: none;
    height: 232px;

    @media screen and (min-width: $bp-tablet) {
      margin: 0;
      width: 100%;
      max-width: 606px;
      height: 480px;
      border-radius: 32px;
    }
  }
}
