.contacts-section {
  padding: 48px 0 96px;

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 32px;
  }

  &__map {
    width: 100%;
    max-width: 606px;
    height: 480px;
    border: none;
    border-radius: 32px;
  }

  &__form {
    padding: 48px 56px;
    max-width: 422px;
    max-height: 482px;
    background-color: var(--brend-color-dark);
    border-radius: 32px;
  }

  &__form-title {
    margin-bottom: 32px;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: var(--color-white);
  }

  &__form-fild {
    display: block;
    margin-bottom: 24px;
  }

  &__form-button {
    display: block;
    margin: 0 auto;
    margin-bottom: 8px;
  }

  &__form-terms {
    text-align: center;
    font-size: 12px;
    color: var(--primery-color-light);
  }

  &__form-terms-link {
    justify-content: center;
    color: var(--primery-color-light);
    text-underline-offset: 2px;
  }
}
