.footer {
  position: relative;
  margin: 0 auto;
  padding: 32px 0 66px;
  width: 100%;
  max-width: 1440px;
  background-color: var(--brend-color-dark);

  @media screen and (min-width: $bp-tablet) {
    padding: 56px 0;
  }

  &::before {
    @media screen and (min-width: $bp-tablet) {
      position: absolute;
      bottom: 0;
      right: 0;
      display: block;
      width: 248px;
      height: 152px;
      background-image: url(../images/vails-decor.png);
      content: "";
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      gap: 24px;
    }
  }

  &__block,
  &__address {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      text-align: left;
    }
  }

  &__block {
    &--mobile {
      @media screen and (max-width: $bp-tablet) {
        margin-top: -8px;
        gap: 8px;
      }
    }
  }

  &__note {
    font-size: 13px;
    color: var(--primery-color-light);
  }
}
