.header {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.25);
  
  &__container {
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }
  
  &__nav,
  &__address {
    display: flex;
    align-items: center;
  }
  
  &__nav {
    flex-grow: 1;
    max-width: 526px;
  }
  
  &__menu {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    gap: 24px;
    font-size: 18px;
  }
  
  &__social {
    display: flex;
    gap: 32px;
  }
}