.header {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: transparent;

  @media screen and (min-width: $bp-desktop) {
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(3px);
  }

  &__container {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;

    @media screen and (min-width: $bp-desktop) {
      padding: 32px 0;
      gap: 24px;
    }
  }

  &__nav,
  &__address {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      align-items: center;
    }
  }

  &__nav {
    flex-grow: 1;
    max-width: 526px;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    gap: 24px;
    font-size: 18px;
  }

  &__social {
    display: flex;
    gap: 32px;
  }

  &__burger {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;

    @media screen and (min-width: $bp-tablet) {
      width: 32px;
      height: 32px;
    }

    @media screen and (min-width: $bp-desktop) {
      display: none;
    }

    &:hover {
      color: var(--brend-color-light);
    }
  }

  &__burger-icon {
    width: 20px;
    height: 14px;

    @media screen and (min-width: $bp-tablet) {
      width: 24px;
      height: 18px;
    }
  }
}
