.hero-section {
  position: relative;
  margin: 0 auto;
  padding: 72px 0 56px;
  width: 100%;
  max-width: 1440px;
  aspect-ratio: 8/4;
  background-image: linear-gradient(
      89.38deg,
      var(--color-white) 30.62%,
      rgba(255, 255, 255, 0.850898) 41.31%,
      rgba(255, 255, 255, 0.193204) 58.65%,
      rgba(255, 255, 255, 0) 72.78%
    ),
    url(../images/hero-image.avif);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  @media screen and (min-width: $bp-tablet) {
    background-position: right top;
    background-size: contain;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        89.38deg,
        var(--color-white) 30.62%,
        rgba(255, 255, 255, 0.850898) 41.31%,
        rgba(255, 255, 255, 0.193204) 58.65%,
        rgba(255, 255, 255, 0) 72.78%
      ),
      url(../images/hero-image@2x.avif);
  }

  @media screen and (min-width: $bp-tablet) {
    padding: 96px 0 72px;
  }

  @media screen and (min-width: $bp-desktop) {
    padding: 120px 0 128px;
  }

  &__container {
    margin: 0 auto;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      text-align: left;
    }

    @media screen and (min-width: $bp-desktop) {
      margin: 0 0 0 206px;
      max-width: 480px;
    }
  }

  &__text {
    margin-left: 20px;
    font-size: 12px;

    @media screen and (min-width: $bp-tablet) {
      margin-left: 32px;
      margin-bottom: 8px;
      font-size: 14px;
    }

    @media screen and (min-width: $bp-desktop) {
      margin-bottom: 16px;
      font-size: 18px;
    }
  }

  &__block {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 208px;

    @media screen and (min-width: $bp-tablet) {
      margin: 0;
    }

    @media screen and (min-width: $bp-desktop) {
      gap: 14px;
      max-width: 232px;
    }
  }

  &__offer {
    text-align: center;
    font-size: 10px;
    color: var(--primery-color-dark);

    @media screen and (min-width: $bp-tablet) {
      font-size: 12px;
    }
  }
}

/* GPT */
// .hero-container {
// margin-left: calc(206px - (1440px - 100vw) / 2);
//   max-width: 328px; */
// }

// @media (max-width: 1024px) {
//   .hero-container {
//     margin-left: 0;
//     max-width: 100%;
//   }
// }
