.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--color-white);
  transform: translateX(100%);
  transition: transform 0.3s;

  @media screen and (min-width: $bp-desktop) {
    display: none;
  }

  &.is-open {
    transform: translateX(0);
  }

  &__container {
    padding: 16px 20px;
  }

  &__header {
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
  }

  &__button {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    color: var(--brend-color-dark);
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover {
      color: var(--brend-color-light);
    }
  }

  &__icon-close {
    width: 12px;
    height: 12px;

    @media screen and (min-width: $bp-tablet) {
      width: 16px;
      height: 16px;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
