.modal {
  position: relative;
  padding: 40px 144px;
  width: 100%;
  max-width: 728px;
  height: 100%;
  max-height: 680px;
  background-color: var(--brend-color-dark);
  border-radius: 48px;
  overflow-y: auto;
  scrollbar-width: none;

  &__button {
    &--close {
      position: absolute;
      top: 40px;
      right: 40px;
      width: 32px;
      height: 32px;
      color: var(--color-white);
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }

  &__block {
    max-width: 432px;
    max-height: 600px;
  }

  &__title {
    margin-bottom: 40px;
    color: var(--color-white);
  }

  &__form {
    margin: 0 auto;
    max-width: 312px;
    max-height: 408px;
  }

  &__title {
    margin-bottom: 32px;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: var(--color-white);
  }

  &__fild {
    display: block;
    margin-bottom: 24px;
  }

  &__button {
    display: block;
    margin: 0 auto;
    margin-bottom: 8px;
  }

  &__terms {
    text-align: center;
    font-size: 12px;
    color: var(--primery-color-light);
  }

  &__terms-link {
    justify-content: center;
    color: var(--primery-color-light);
    text-underline-offset: 2px;
  }
}
