.modal {
  position: relative;
  padding: 60px 20px;
  width: 100%;
  max-width: 728px;
  height: 100%;
  max-height: 680px;
  background-color: var(--brend-color-dark);
  border-radius: 48px;
  overflow-y: auto;
  scrollbar-width: none;

  &__block {
    max-width: 432px;
    max-height: 600px;
  }

  &__title {
    margin-bottom: 40px;
    color: var(--color-white);
  }
}
