.promotion-section {
  padding-bottom: 104px;

  @media screen and (min-width: $bp-tablet) {
    padding-bottom: 24px;
  }

  @media screen and (min-width: $bp-desktop) {
    padding-bottom: 88px;
  }

  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }

  &__block {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 400px;
    gap: 24px;

    @media screen and (min-width: $bp-tablet) {
      margin: 0;
      padding-top: 24px;
      max-width: 610px;
    }

    @media screen and (min-width: $bp-desktop) {
      gap: 40px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    font-size: 18px;

    @media screen and (min-width: $bp-tablet) {
      text-align: left;
    }

    @media screen and (min-width: $bp-desktop) {
      font-size: 22px;
    }
  }

  &__images {
    position: relative;
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      flex-grow: 1;
      max-width: 500px;
    }

    @media screen and (min-width: $bp-desktop) {
      gap: 40px;
    }
  }

  &__image {
    border-radius: 50%;

    @media screen and (min-width: $bp-tablet) {
      width: 264px;
      height: 264px;
    }

    @media screen and (min-width: $bp-desktop) {
      width: 328px;
      height: 328px;
    }
  }

  &__image {
    &--end {
      align-self: flex-end;
    }
  }
}
