.promotion-section {
  padding: 0 0 88px;

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }

  &__block {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 610px;
    gap: 40px;
  }

  &__title {
    margin-bottom: 0;
    text-align: left;
  }

  &__text {
    font-size: 22px;
  }

  &__images {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    flex-grow: 1;
    flex-basis: auto;
    max-width: 500px;
  }

  &__image {
    border-radius: 50%;
  }

  &__image {
    &--end {
      align-self: flex-end;
    }
  }
}

.promotion-star-big,
.promotion-star-normal,
.promotion-star-smoll {
  position: absolute;
}

.promotion-star-big {
  fill: var(--brend-color-dark);
  top: 350px;
  left: 142px;
}

.promotion-star-normal {
  fill: var(--brend-color-light);
  top: 32px;
  right: -18px;
}

.promotion-star-smoll {
  fill: var(--primery-color-light);
  top: 286px;
  right: 16px;
}
