.procedures-section {
  padding: 48px 0;

  &__slider {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__container {
    overflow: hidden;
  }

  &__list {
    display: flex;
    margin-bottom: 16px;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 32px;
    }
  }

  &__button {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: flex;
    }
  }
}
