.section {
  &__title {
    margin-bottom: 48px;
    font-family: "Play";
    text-align: center;
    font-size: 64px;
    line-height: 1.3;
    font-weight: 700;

    &--hero {
      margin-bottom: 32px;
      text-align: center;
      font-size: 54px;
      line-height: 0.8;
      color: var(--brend-color-light);

      @media screen and (min-width: $bp-tablet) {
        margin-bottom: 40px;
        text-align: left;
        font-size: 96px;
      }

      @media screen and (min-width: $bp-desktop) {
        font-size: 140px;
      }
    }
  }
}
